@use "./fonts" as *;

$font-family-base: "Work Sans", sans-serif;
$font-roboto: "Roboto", sans-serif;
$font-metropolis: "Avenir", sans-serif;
$font-size-base: 1rem;
$line-height-base: 1.5;

// colors
$white: #fff;
$primary-blue: #213f7d;
$primary-gray: #545f7d;
$primary-gray-light: #545f7d26;
$primary-teal: #39cdcc;

// breakpoints
$breakpoint-tablet: 768px;
$breakpoint-desktop: 1024px;
$breakpoint-large: 1280px;
